VITE_MAPBOX_TOKEN=pk.your_mapbox_token
VITE_MAPBOX_STYLE=mapbox://styles/grafa/ckdhx8rpo01b61ip8o9e8fth3
VITE_SHEET_CSV_URL=
VITE_SHARE_BASE_URL=https://example.wixsite.com/sup-map
VITE_OPENWEATHER_KEY=
