VITE_MAPBOX_TOKEN=pk.your_mapbox_token
VITE_MAPBOX_STYLE=mapbox://styles/grafa/cmv19mkj0002q01sm846ocirm
VITE_SHEET_CSV_URL=
VITE_SHARE_BASE_URL=https://example.wixsite.com/sup-map
VITE_OPENWEATHER_KEY=
