h2 {
    margin: 0em;
}
#globe {
    display: block;
    position: absolute;
    margin: 0px 0px;
    left: 0;
    top: 11px;
    /* width: 1%; */
    height: 20px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
    color: rgb(0, 0, 0);
    background: #ffffff;
}

.mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    padding-bottom: 10px;
}
.mapboxgl-popup, img {
    max-width: 100%;
}
.mapboxgl-popup-content {
    border-radius: 10px;
    color: #ffffff;
    background: rgba(0, 30, 84, 0.78);
}
.mapboxgl-popup-content a {
    color: #ffffff;
    line-height: 2em;
}
.mapboxgl-popup-content h2, p  {
    margin-bottom: 5px;
}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
    border-top-color: rgba(0, 30, 84, 0.78);
}
.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
    border-bottom-color: rgba(0, 30, 84, 0.78);
}
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
    border-right-color: rgba(0, 30, 84, 0.78);
}
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
    border-left-color: rgba(0, 30, 84, 0.78);
}
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip {
        border-bottom-color: rgba(0, 30, 84, 0.78);
    }
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
        border-bottom-color: rgba(0, 30, 84, 0.78);
    }
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip {
        border-top-color: rgba(0, 30, 84, 0.78);
    }
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
        border-top-color: rgba(0, 30, 84, 0.78);
}
